/vendor/
/config/
/.env

/docker/data/ 
/docker/**.log
/docker/sonar/
/docker/logs/

/app/third_party/afip/config/afip/cache/
/app/third_party/afip/config/afip/ta/
/app/third_party/afip/config/afip/dev/dev.log

/var/afip/dev/
/var/log/*.log
